@import '../../global.scss';

.Portfolio {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    overflow-y: hidden;

    h1{
        overflow: hidden;
    }

    ul{
        margin: 10px;
        padding: 0;
        display: flex;
        list-style: none;
        
        li{
            font-size: 15px;
            margin: 0 25px;
            padding: 7px;
            overflow: hidden;
            align-items: center;
            display: flex;
            border-radius: 10px;
            cursor: pointer;

            &.active{
                background-color: blueviolet;
                color: white;
            }
        }
    }

    .container{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid blueviolet;
            margin: 10px 20px;
            position: relative;
            transition: all .5s ease;
            h3{
                position: absolute;   
                color: inherit;         
            }
            img{
                height: inherit;
                width: inherit;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: $secondcolor;
                img{
                    opacity: 0.2;
                }
            }
        }
    }
}