@import "../../global.scss";


.Skills{
    // background-color: blueviolet;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    h1{
        position: absolute;
        top: 10px;

        @include mobile{
            font-size: 20px;
        }
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 80%;

        .image {
            height: 110px;
            overflow: hidden;
            position: relative;
            margin: 2%;
            animation: blink 2s ease-in-out alternate infinite;

            @include tablet{
                height: 80px;
            }
            @include mobile{
                height: 60px;
            }

            @keyframes blink {
                from {transform: translateY(0px);}
                to {transform: translateY(20px);}
            }

            .img{
                height: inherit;
                object-fit: cover;
            }

            
        }
    }
}