@import "../../global.scss";

.Home{
    // background-color: $maincolor;
    display: flex;
    
    .left{
        flex: 0.5;
        overflow: hidden;

        .imageContainer{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            img{
                
                
            }
            .blob{
                position: absolute;
                height: 100%;
            }
            .me {
                z-index: 3;
                height: 90%;
            }
        }
    }
    
    .rigth{
        flex: 0.5;
        position: relative;
        a{
            color: inherit;
            text-decoration: none;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 10px;
            animation: scrollBlink 2s infinite;
        }

        @keyframes scrollBlink {
            to{
                opacity: 0;
            }
        }

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 60px;
            }
            h2{
                font-size: 35px;
                font-weight: 300;

            }
            h3{
                font-size: 30px;
                font-weight: 300;

                span{
                    font-size: inherit;
                    font-weight: 700;
                    color: blueviolet;
                }

                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }

                    100%{
                        opacity: 0;
                    }
                }
            }
        }
    }
}