@import "../../global.scss";

.HeadBar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    @include mobile {
        height: 40px;
    }

    .wrapper{
        display: flex;
        padding: 0 30px;
        align-items: center;
        justify-content: space-between;
        color: inherit;

        .left{
            display: flex;
            align-items: center;
            color: inherit;
            .logo{
                transition: all 1s ease;
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                margin-right: 40px;
                cursor: pointer;

                @include mobile{
                    font-size: 25px;
                }
            }

            .items{
                display: flex;
                align-items: center;
                margin-right: 30px;

                @include tablet{
                    display: none;
                }

                a{
                    display: flex;
                    align-items: center;
                    color: inherit;
                    font-size: inherit;
                    text-decoration: none;
                }

                .icon {
                    margin-right: 5px;
                    font-size: 18px;
                }

                span{
                    font-weight: 500;
                    font-size: 15px;
                }
            }
        }

        .rigth {
            display: flex;
            align-items: center;
            
            .option{
                margin-left: 10px;
                width: 36px;
                height: 36px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                cursor: pointer;

                .line1{
                    height: 8px;
                    width: 100%;
                    background-color: $secondcolor;
                    border-radius: 8px;
                    transform-origin: left;
                    transition: all 1s ease;
                    
                }

                .line2{
                    height: 8px;
                    width: 60%;
                    background-color: $secondcolor;
                    border-radius: 8px;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }

    &.active {
        
        .rigth{
            .option{
                
                span{
                    &:first-child{
                        height: 3px;
                        transform: rotate(45deg);
                        margin-bottom: 13px;
                    }
                    &:last-child{
                        height: 3px;
                        width: 100%;
                        transform: rotate(-45deg);

                    }
                }
            }
        }
    }
}