.Testimonials {
    // background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        top: 10px;
        overflow: hidden;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .card{
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            margin: 0 20px;
            transition: all 1s ease;

            &:hover{
                transform: scale(1.1);
            }

            .top{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .social{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    .item{
                        height: 25px;
                        margin: 0 5px;
                    }
                }

                
                .user{
                    height: 110px;
                    width: 110px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: 10px;
                }
            }

            .center {
                padding: 10px;
                border-radius: 10px;
            }
            .bottom{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                bottom: 20px;

                h4{
                    color: gray;
                }
            }
        }
    }
}